:root {
	--secondary-color: #ffffff;
	--sidebar-width: 250px;
	--sidebar-small-width: 60px;
	--icon-size: 20px;
	--icon-container-size: 60px;
}

.sidebar {
	background-color: var(--secondary-color);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--sidebar-width);
	transition: width 0.3s ease-in-out;
	overflow-x: hidden;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.sidebar .img {
	position: relative;
	top: 50px;
	margin-left: 10px;
}

.img span {
	color: #0d6efd;
	font-size: 28px;
	font-weight: 600;
	margin-left: 8px;
	margin-top: 8px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	position: relative;
	top: 55px;
	margin: 30px 0 0 0;
}

.sidebar a {
	color: #000000c2;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
}

img {
	width: 45px;
	height: 45px;
}
.sidebar .icon-container {
	width: var(--icon-container-size);
	height: var(--icon-container-size);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	color: var(--primary-color);
}

.sidebar .icon-container:hover {
	background-color: #0d6efd;
	color: beige;
}

.sidebar a i {
	font-size: var(--icon-size);
	transition: all 0.3s ease-in-out;
}

.sidebar a span {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	margin-left: -6px;
}

.main-content {
	margin-left: var(--sidebar-width);
	padding: 20px;
	transition: margin-left 0.3s ease-in-out;
}

.sidebar.small {
	width: var(--sidebar-small-width);
}


.sidebar.small a span {
	opacity: 0;
	width: 0;
	overflow: hidden;
}

.main-content.small-sidebar {
	margin-left: var(--sidebar-small-width);
}

.form-control:focus {
	border-color: #14B789;
	box-shadow: 0 0 0 0.2rem rgba(20, 183, 137, 0.25);
}

.btn-group button {
	border-radius: 5px;
	width: 120px;
	align-items: center;
}

.fa-chevron-down {
	margin-left: 10px;
}

#habitName::placeholder {
	color: #222121;
}

.input-icon {
	position: relative;
}

.input-icon i {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #141313;
	cursor: pointer;
}

.input-icon .form-control {
	padding-left: 30px;
}

.radio-list {
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
	height: 146px;
	overflow-y: scroll;
}

#months-btn {
	background-color: #8e44ad;
	color: #fff;
	border: #fff;
	border-radius: 5px;
}

#weeks-btn {
	background-color: #229954;
	color: #fff;
	border: #fff;
	border-radius: 5px;
	margin-left: 10px;
}

#days-btn {
	background-color: #2e86c1;
	color: #fff;
	border: #fff;
	border-radius: 5px;
	margin-left: 10px;
}


#months-options {
	padding: 10px;
	margin-top: 15px;
	color: #ffffff;
	border-radius: 5px;
	background-color: #8e44ad;
}

#weeks-options {
	padding: 10px;
	margin-top: 15px;
	color: #ffffff;
	border-radius: 5px;
	background-color: #229954;
}

#days-options {
	padding: 10px;
	margin-top: 15px;
	color: #ffffff;
	border-radius: 5px;
	background-color: #2e86c1;
}

#repeat-options > div {
    min-height: 100px; 
}

#months-options input[type="checkbox"], #weeks-options input[type="checkbox"], #days-options input[type="checkbox"] {
	margin-right: 5px;
}

.d-none input[type="checkbox"] {
	width: 15px;
	height: 15px;
	cursor: pointer;
	position: relative;
	margin-right: 10px;
	top: 2px;
	background-color: #f0f0f0;
}

.btn-outline-primary {
	width: 135px;
	color: #000000;
	margin-right: 15px;
}

.btn-secondary.dropdown-toggle {
	background-color: transparent;
	border: 1px solid #ced4da;
	color: black;
	width: 216px;
}

.btn-secondary.dropdown-toggle:focus {
	border-color: #14B789;
	box-shadow: 0 0 0 0.2rem rgba(20, 183, 137, 0.25);
}

.custom-time-input {
	background-color: #ffffff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	font-size: 16px;
	color: #495057;
}

.custom-time-input:focus {
	border-color: #14B789;
	box-shadow: 0 0 0 0.2rem rgba(20, 183, 137, 0.25);
}

.btn-with-time {
	position: relative;
	margin-bottom: 10px;
}

.time-input-container {
	display: none;
	margin-top: 5px;
	width: 130px;
}

input[type="submit"], input[type="reset"] {
	padding: 5px 15px;
}

.btn-danger {
	margin-left: 50px;
}

.hidden {
    display: none;
}

#hours, #minutes, #target-number-input, #target-description { 
	margin-top: 8px;
}

.form-select:focus {
	border-color: #14B789;
	box-shadow: 0 0 0 0.2rem rgba(20, 183, 137, 0.25);
}

.target-text {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.disabled-section {
	cursor: not-allowed;
	opacity: 0.6; 
}
.enabled-section {
	cursor: default;
	opacity: 1;
}

